body {
  height: 100vh;
}

body, #App {
  margin: 0;
  padding: 0;
}

#App {
  height: 100%;
}

.error-banner {
  font-size: .8em;
  box-sizing: border-box;
  position: fixed;
  z-index: 9999;
  top: 0.5vw;
  left: 0.5vw;
  width: calc(100vw - 2*0.5vw);
  text-align: center;
  padding: 1em;
  color: red;
  background: rgba(255, 200, 200, 0.9);
}
